<a href="https://colab.research.google.com/github/messias077/REP/blob/main/Problema_Classificacao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd

# Carregando os dados
# Obtida em: https://www.kaggle.com/praveengovi/credit-risk-classification-dataset
# > label is 1, the customer is in high credit risk
# > label is 0, the customer is in low credit risk
# Obs.: Possui valores 'NaN', tem que preencher com zeros
df = pd.read_csv('/content/sample_data/customer_data.csv')

# Separando em features e target
X = df.iloc[:, 2:].values # Retira as colunas 'label' e 'id'. Fica com as features de 1 a 11
y = df.iloc[:, 0].values # Pega somente a coluna 'label'
print('Shape X:', X.shape)
print('X:\n', X)
print('Shape y:', y.shape)
print('y:\n', y)
print('Shape DF:', df.shape)
df

Shape X: (1125, 11)
X:
 [[5.00000000e+00 1.24550000e+03 3.00000000e+00 ... 5.00000000e+00
  1.51300000e+05 2.44948974e+02]
 [4.00000000e+00 1.27700000e+03 1.00000000e+00 ... 3.00000000e+00
  3.41759000e+05 2.07173840e+02]
 [7.00000000e+00 1.29800000e+03 1.00000000e+00 ... 5.00000000e+00
  7.20010000e+04 1.00000000e+00]
 ...
 [7.00000000e+00 1.22000000e+03 3.00000000e+00 ... 5.00000000e+00
  7.10020000e+04 1.00000000e+00]
 [4.00000000e+00 1.25000000e+03 3.00000000e+00 ... 5.00000000e+00
  7.20000000e+04 1.00000000e+00]
 [4.00000000e+00 1.41500000e+03 3.00000000e+00 ... 4.00000000e+00
  1.51300000e+05 2.73861279e+02]]
Shape y: (1125,)
y:
 [1 0 0 ... 0 0 0]
Shape DF: (1125, 13)

      label        id  fea_1   fea_2  ...  fea_8  fea_9  fea_10      fea_11
0         1  54982665      5  1245.5  ...    109      5  151300  244.948974
1         0  59004779      4  1277.0  ...    100      3  341759  207.173840
2         0  58990862      7  1298.0  ...    101      5   72001    1.000000
3         1  58995168      7  1335.5  ...    110      3   60084    1.000000
4         0  54987320      7     0.0  ...    108      4  450081  197.403141
...     ...       ...    ...     ...  ...    ...    ...     ...         ...
1120      0  58988196      5  1289.0  ...    112      3  350702  200.000000
1121      0  58987926      5     0.0  ...    108      4  450000  169.000000
1122      0  58995381      7  1220.0  ...     90      5   71002    1.000000
1123      0  58998054      4  1250.0  ...     90      5   72000    1.000000
1124      0  54989781      4  1415.0  ...    113      4  151300  273.861279

[1125 rows x 13 columns]